Here is the table of products that I eat for breakfast:

|Product|Weight (in grams)|Calories (per 100g)|
|:---|---:|---:|
|Mleko|100|42,3|
|Dżem truskawkowy|50|154|
|Chleb pszenny|200|264,6|

Here is the code that creates the same table but using pandas in python:

In [8]:
import pandas as pd

data=[['Mleko', 100, 42.3],['Dżem truskawkowy', 50, 154],['Chleb pszenny', 200, 264.6]]

food_df = pd.DataFrame(data=data, columns=['Product','Weight (in grams)','Calories (per 100g)'])
food_df

            Product  Weight (in grams)  Calories (per 100g)
0             Mleko                100                 42.3
1  Dżem truskawkowy                 50                154.0
2     Chleb pszenny                200                264.6

Here is the value of total weight of my breakfast:

In [9]:
food_df['Weight (in grams)'].sum()

350

Here is total value of calories in whole breakfast:

In [10]:
(food_df['Calories (per 100g)']*(food_df['Weight (in grams)']/100)).sum()

648.5